#root {
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.UWGold {
  color: #b7a57a;
} 

.badgeUnselected {
  color: #323842;
  background-color: #f3f4f6;
}

.UWGoldForBG {
  background-color: #faf8f5;
}

.UWPurple {
  color: #4b2e83;
}

.card-title {
  padding: 1rem;
}
.UWPurpleBG {
  background-color: #4b2e83;
}

.custom-input {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  line-height: 1;
  color: #374151;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.custom-input:focus {
  outline: none;
  border-color: #b7a57a;
  box-shadow: 0 0 0 3px rgba(183, 165, 122, 0.3);
}

